/* CSS Document */

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #333;
    font-weight: 400;
    padding-top: 50px;
}

#nav-top {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

#nav-top>.container .navbar-brand {
    font-weight: 300;
    color: #9F9F9F;
}

header#main-header {
    height: auto;
    background: url(../images/header.jpg) no-repeat center;
    background-size: cover;
}

.tr-bg {
    background: rgba(0, 0, 0, 0.50);
    color: #fff;
    display: inline-block;
}

h2.tr-bg {
    padding: 10px 15px;
    font-weight: 300;
    margin-top: 80px;
    text-transform: uppercase;
    line-height: normal;
}

h3.tr-bg {
    padding: 5px 10px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: normal;
    margin: 0;
}

p.tr-bg {
    padding: 10px 15px;
    font-weight: 400;
    margin-top: 20px;
    line-height: normal;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

section {
    padding: 40px 0 60px;
    border-bottom: 1px solid #e7e7e7;
}

section h4, section h3 {
    color: #505050 !important;
}

section h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
}

section h3 {
    font-size: 28px;
    font-weight: 300;
    line-height: normal;
}

section.feature img {
    box-shadow: 0 0 6px 0 rgba(189, 195, 199, 0.5)
}

section.background {
    height: 300px;
    padding: 40px 0;
    background: url(../images/section-background.jpg) no-repeat center;
    background-size: cover;
}

section.background h2 {
    color: #FFFFFF;
    font-weight: 300;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

section.background p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: normal;
    font-weight: 300;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.dmxParallaxSlider {
    display: block !important;
    margin: 0 auto !important;
}

footer#footer {
    background: #f2f2f2;
    border-top: 1px solid #ECF0F1;
    padding: 15px 0;
    color: #505050;
    font-size: 11px;
    text-align: center;
}

/*Small Devices*/

@media (min-width: 768px) {
    header#main-header {
        height: auto;
        padding: 40px 0;
    }
}

/*Medium Devices*/

@media (min-width: 992px) {
    header#main-header {
        height: auto;
        padding: 40px 0;
    }
}

/*Large Devices*/

@media (min-width: 1200px) {
    header#main-header {
        height: auto;
        padding: 40px 0;
    }
}